<% provide(:title, "Home") %>
<div class="section-welcome">
  <h1>Welcome to the keblog</h1>
  <h2>This is the start for all the great moments</h2>
  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>

