<% if object.errors.any? %>
  <div class="error_messages">
    <div class="alert alert-danger">
      <P>Please correct the following <%= pluralize(object.errors.count, "error") %></P>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>